stepfunction/dev_StepFun_prdsales_process_file.json
{
  "Comment": "PrdSales file processing orchestrator - routes based on file size",
  "StartAt": "check_trigger_type",
  "States": {
    "check_trigger_type": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Glue_file_process",
          "Condition": "{% ($states.input.trigger_type) = (\"Glue\") %}"
        }
      ],
      "Default": "Lambda_file_process"
    },
    "Glue_file_process": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Arguments": {
        "JobName": "dev_prdsales_gen_search_rev_glue",
        "Arguments": {
          "--file_key.$": "$.file_key"
        }
      },
      "Next": "Lambda_process_end"
    },
    "Lambda_file_process": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-2:707859598422:function:dev_gen_search_revenue_lambda:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Lambda_process_end"
    },
    "Lambda_process_end": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-2:707859598422:function:dev_get_prdsales_file_lambda:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}